* {
	user-select: none;
	cursor: default;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
	height: 100vw;
	width: 100vw; 
}
#header{
	width: 100vw;
	height: 7.5vw; 
	background-color: rgba(86,66,50, 0.685);
	color: rgb(248, 247, 240);
	box-shadow: 2px 2px 10px 1px black ;
}
#header>h2{
	text-align: center;
	line-height: 7.5vw;
	font-size: 5vh;
}
#main{
	width: 100vw;
	height: calc(100vh - 7.5vw);
	/* background-color: rgb(248, 247, 240); */
	/* z-index: 0; */
}
#main>main{
	float: left;
	width: 70vw;
	height: calc(100vh - 7.5vw);
	background-color: rgba(66, 66, 66, 0.15);
}
#main>aside{
	padding-top: 10vh;
	float: right;
	width: 30vw;
	height: calc(100vh - 7.5vw);
	background-color: rgba(86,66,50, 0.125);
	box-shadow: -1px 1px 10px 1px black ;
	color: rgba(86,66,50, 0.685);
}
#aside>*{
	margin: 4vh auto 1vh;
	text-align: center;
	font-size: 5vh;
	font-weight: 500;
}
#a{
	max-width: calc(100vh - 7.5vw);
	max-height: calc(100vh - 7.5vw);
	aspect-ratio: 1;
	/* background-color: grey; */
	background-color: rgba(86, 66, 50, 0.3);
	margin: 0 auto;
	border-radius: 8px;
	box-shadow: 2px 2px 5px black;
}
ul{
	max-width: calc(100vh - 7.5vw);
	max-height: calc(100vh - 7.5vw);
	aspect-ratio: 1;
	background-color: rgba(86, 66, 50, 0.3);
}
li{
	aspect-ratio: 1/1;
	float: left;
	background-color: rgba(86, 66, 50, 0.3);
	text-align: center;
	line-height: calc(25vh - 1.875vw);
	font-weight: 900;
	color: aliceblue;
	text-shadow: 2px 2px 5px black;
}
.a{
	box-shadow: 1.5px 1.5px 4px black inset;
	border-radius: 8px;
	background-color: rgba(86, 66, 50, 0.322);
}


#back,#intro,#pause,#restart{
	color: rgb(248, 247, 240);
	width: 20vw;
	border-radius: 10px;
	background-color: rgba(86, 66, 50, 0.685);
	transition: all 0.2s 0s linear;
	box-shadow: 2px 2px 10px 1px rgba(86,66,50, 0.685) ;
	font-size: 2.5vw;
	line-height: 6vh;
	height:6vh;
	margin: 10px auto;
}
#back:hover,#intro:hover,#pause:hover,#restart:hover{
	transition: all 0.2s 0s linear;
	box-shadow: .5px .5px 3px 1px rgba(86, 66, 50, 0.877) ;
}
#admin{
	overflow: scroll;
	width: 30vw;
	position: absolute;
	bottom: 7.5vh;
	height: 20vh;
}
.showDiv{
	font-size: 3vh !important;
}
